/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: white;
  color: black;
  font-family: 'Open Sans', Calibri, sans-serif;
}
.address-book-header {
  background-color: teal;
  color: white;
  font-size: 32px;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  padding: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
}
.contacts {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
}
.contacts-buttons {
  margin: 40px 0 20px;
  text-align: right;
}
.contacts-list {
  border-top: 1px solid gainsboro;
}
.contacts-item {
  align-items: center;
  border-bottom: 1px solid gainsboro;
  display: flex;
  line-height: 1.5;
  justify-content: space-between;
  padding: 20px 0;
}
.contacts-item-name {
  color: black;
  font-size: 24px;
}
.contacts-item-country {
  color: maroon;
  font-size: 16px;
}
.contacts-item-email {
  color: darkcyan;
  font-size: 20px;
}
.dialog {
  display: none;
}
.dialog.is-active {
  display: block;
}
.error {
  display: none;
}
.field.has-error .error {
  display: block;
}
