body {
    font-family: 'Open Sans', Calibri, sans-serif;
}

.input {

}
.error {
    display: none;
}
.field.has-error .error {
    display: block;
}

.dialog {
    display: none;
}
.dialog.is-active {
    display: block;
}