/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: white;
  color: black;
  font-family: 'Open Sans', Calibri, sans-serif;
  user-select: none;
}
.button-theme,
.contacts-button,
.contacts-item-button,
.form-button {
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.button-theme.is-positive,
.contacts-button.is-positive,
.contacts-item-button.is-positive,
.form-button.is-positive {
  background-color: green;
}
.button-theme.is-dangerous,
.contacts-button.is-dangerous,
.contacts-item-button.is-dangerous,
.form-button.is-dangerous {
  background-color: red;
}
.button-theme.is-neutral,
.contacts-button.is-neutral,
.contacts-item-button.is-neutral,
.form-button.is-neutral {
  background-color: dimgray;
}
.address-book-header {
  background-color: teal;
  color: white;
  font-size: 32px;
  letter-spacing: 0.5em;
  padding: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.contacts {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
}
.contacts-buttons {
  margin: 40px 0 20px;
  text-align: right;
}
.contacts-list {
  border-top: 1px solid gainsboro;
}
.contacts-item {
  align-items: center;
  border-bottom: 1px solid gainsboro;
  display: flex;
  line-height: 1.5;
  justify-content: space-between;
  padding: 20px 0;
}
@media only screen and (max-width: 639px) {
  .contacts-item {
    display: block;
  }
}
.contacts-item-name {
  color: black;
  font-size: 24px;
}
.contacts-item-country {
  color: maroon;
  font-size: 16px;
}
.contacts-item-email {
  color: darkcyan;
  font-size: 20px;
}
@media only screen and (max-width: 639px) {
  .contacts-item-name,
  .contacts-item-country,
  .contacts-item-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 639px) {
  .contacts-item-buttons {
    margin-top: 10px;
  }
}
.dialog {
  background-color: white;
  border: 0.5px solid darkcyan;
  font-size: 12px;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms ease;
  width: 640px;
  z-index: -1;
}
@media only screen and (max-width: 639px) {
  .dialog {
    width: 100vw;
  }
}
.dialog.is-active {
  opacity: 1;
  transition: opacity 500ms ease;
  z-index: 2;
}
.dialog-title {
  letter-spacing: 0.5ch;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.dialog-body {
  padding: 40px;
}
.form-container {
  margin-bottom: 20px;
}
.form-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 639px) {
  .form-row {
    display: block;
  }
}
.form-label {
  font-size: 20px;
}
@media only screen and (max-width: 639px) {
  .form-label {
    display: block;
  }
}
.form-input,
.form-select {
  border: 0.5px solid black;
  box-sizing: border-box;
  font-size: 20px;
  outline: 0 none;
  padding: 10px;
  transition: border-color 250ms ease;
  width: 384px;
}
.form-input:hover,
.form-select:hover,
.form-input:active,
.form-select:active {
  outline: inherit;
}
@media only screen and (max-width: 639px) {
  .form-input,
  .form-select {
    width: 100%;
  }
}
.has-error .form-input,
.has-error .form-select {
  border-color: red;
}
.form-error {
  font-size: 12.8px;
  line-height: 1.5;
}
.form-error {
  color: red;
  opacity: 0;
  padding-left: calc(100% - 640px * 0.6 - 20px * 2);
  transition: opacity 250ms ease, padding-left 250ms ease;
}
@media only screen and (max-width: 639px) {
  .form-error {
    padding-left: 20px;
  }
}
.has-error .form-error {
  opacity: 1;
  padding-left: calc(100% - 640px * 0.6);
}
@media only screen and (max-width: 639px) {
  .has-error .form-error {
    padding-left: 0;
  }
}
.form-submit {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.form-question,
.form-details {
  line-height: 1.5;
  text-align: center;
}
.form-question {
  font-size: 20px;
  margin-bottom: 20px;
}
.form-details {
  font-size: 24px;
  margin-bottom: 40px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.is-active ~ .overlay {
  display: block;
}

