// general
@color-bg: white;
@color-text: black;
@font-size: 16px;

@font-family: 'Open Sans', Calibri, sans-serif;

@shadow: 1px 1px 1px fade(black, 50%);

@padding: 20px;

// address book
@header-bg: teal;
@header-text: white;
@header-font: @font-size * 2;

// contacts
@contacts-width: 800px;
@contacts-line: gainsboro;

@contacts-name-font: @font-size * 1.5;
@contacts-name-color: black;

@contacts-country-font: @font-size * 1;
@contacts-country-color: maroon;

@contacts-email-font: @font-size * 1.25;
@contacts-email-color: darkcyan;

// dialog
@dialog-background: white;
@dialog-border: darkcyan;
@dialog-width: 640px;
@dialog-font-title: @font-size * 0.75;

@layer-dialog: 2;
@layer-overlay: 1;

// form
@form-font-label: @font-size * 1.25;
@form-font-error: @font-size * 0.8;
@form-font-input: @font-size * 1.25;

@form-error: red;

// delete
@delete-font-question: @font-size * 1.25;
@delete-font-details: @font-size * 1.5;

// buttons
@button-border: black;
@button-text: white;
@button-font: @font-size * 1.25;
@button-shadow: 1px 1px fade(black, 50%);
@button-positive: green;
@button-dangerous: red;
@button-neutral: dimgray;

// media queries
@mobile: ~"only screen and (max-width: 639px)";